@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h6>Name:@Model.Name</h6>
<h6> Genre:@Model.Genre.Name</h6>
<h6>ReleaseDate:@Model.ReleaseDate</h6>
<h6>DateAdded:@Model.DateAdded</h6>
<h6>Number In Stocks :@Model.NumberInStock</h6>


